body {
  font-family: rockwell;
  background-color: lightgray;
  color: #4E6639;
}

header h1 {
  text-align: center;
  font-size: 40px;;
  letter-spacing: 5px;
  margin-bottom: 0px;
  border-bottom: 3px solid black;
}

img {
  max-width: 100%;
  height: auto;

}

.content{
  display:none;
}

.wrapper {
  width: 100%;
}

button {
  background: none!important;
  border: none;
  padding: 10px;
  font-size: 20px;
  color: #black;
  font-family: rockwell;
  text-decoration: underline;
  cursor: pointer;
}

button:hover { 
  color: maroon;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#js-form{
  text-align: left;
  font-size: 25px;
}

.item {
  flex: 1;
  margin: 20px;
}

.item-picture {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.currentVid img {
  width: auto;
  height: auto;
}

.videoContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

/* Desktop */
@media all and (min-width: 1000px) {
  main {
    padding: 0 10%;
  }
  
  .group {
    flex-direction: row;
  }

.wrapper{
  width: 80%;
  margin: auto;
  }

  h1 {
    font-size: 60px;
  }

button{
  font-size: 25px;
}

body{
  font-size: 20px;
}

#js-form{
  text-align: right;
  font-size: 25px;
}

}
